<div class="container">

  <nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <button class="nav-link" id="orderDate" (click)="changeOrder('date')">Order by date</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="orderPrice" (click)="changeOrder('price')">Order by price</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="orderDistance" (click)="changeOrder('distance')">Distance</button>
        </li>
      </ul>
      <form class="d-flex mb-0">
        <input class="form-control me-2" type="text" name="search" id="search" placeholder="Search" aria-label="Search" [formControl]="searchEvents">
      </form>
    </div>
  </nav>

  <div class="text-muted" id="filterInfo">Ordering by: {{ order() }}. Searching by: {{ name() }}</div>

  <div id="eventsContainer" class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

    @if (events().length) {

    @for (event of events(); track event.id) {

    <event-card [event]="event" (deleted)="deleteEvent(event)"></event-card>
    }
    } @else {
    <h2>No hay eventos</h2>
    }

  </div>
  @if (events().length < count()) {
  <div class="mb-4"><button id="loadMore" class="btn btn-primary" (click)="loadMore()">Load More events</button></div>
  }
</div>